<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747372579843-mn41bcpqqh81smjlimh5u0mftkkr9d8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747372579843-mn41bcpqqh81smjlimh5u0mftkkr9d8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBMo-gj8A4bVDrYVgZ4L5Ky88ucjv3fN1M</string>
	<key>GCM_SENDER_ID</key>
	<string>747372579843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lokoQr</string>
	<key>PROJECT_ID</key>
	<string>testes-pra-cacete</string>
	<key>STORAGE_BUCKET</key>
	<string>testes-pra-cacete.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747372579843:ios:1d6d7a1526b9dd633c1236</string>
	<key>DATABASE_URL</key>
	<string>https://testes-pra-cacete-default-rtdb.firebaseio.com</string>
</dict>
</plist>